body {
    margin: 0 10%;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}

#intro {
    padding-top: 10%;
}

#intro, .h1{
    color: #555;
    font-size: 26px;
    text-align: center;
}

#intro, p{
    color: #555;
    padding-left: 5%;
}
#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-flow: row;
    clear: left;
}
#avators {
    float: left;
    text-align: center;
}
.hs {
    text-align: center;
}

#mission {
    text-align: center;
}

#mission, h2 {
    color: red;
}